description = "Messenger"

[viewBag]
==
{% if this.theme.whatsapp %}
<a href="whatsapp://send?phone=+{{ this.theme.whatsapp }}" class="messengers__link">
  <i class="fab fa-whatsapp messengers__ico messengers__ico_whatsapp"></i>
</a>
{% endif %}
{% if this.theme.vk %}
<a href="{{ this.theme.vk }}" target="_blank" rel="noopener noreferrer" class="messengers__link">
  <i class="fab fa-vk messengers__ico messengers__ico_vk"></i>
</a>
{% endif %}
{% if this.theme.instagram %}
<a href="{{ this.theme.instagram }}" target="_blank" rel="noopener noreferrer" class="messengers__link">
  <i class="fab fa-instagram messengers__ico messengers__ico_instagram"></i>
</a>
{% endif %}